WSCliente/web/WEB-INF/wsdl/localhost_8080/WSPractice/Hello.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="Hello">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/WSPractice/Hello?xsd=1"/>
</xsd:schema>
</types>
<message name="getRoot">
<part name="parameters" element="tns:getRoot"/>
</message>
<message name="getRootResponse">
<part name="parameters" element="tns:getRootResponse"/>
</message>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<message name="uploadFile">
<part name="parameters" element="tns:uploadFile"/>
</message>
<message name="uploadFileResponse">
<part name="parameters" element="tns:uploadFileResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="createFolder">
<part name="parameters" element="tns:createFolder"/>
</message>
<message name="createFolderResponse">
<part name="parameters" element="tns:createFolderResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Hello">
<operation name="getRoot">
<input wsam:Action="http://server/Hello/getRootRequest" message="tns:getRoot"/>
<output wsam:Action="http://server/Hello/getRootResponse" message="tns:getRootResponse"/>
</operation>
<operation name="sayHello">
<input wsam:Action="http://server/Hello/sayHelloRequest" message="tns:sayHello"/>
<output wsam:Action="http://server/Hello/sayHelloResponse" message="tns:sayHelloResponse"/>
</operation>
<operation name="uploadFile">
<input wsam:Action="http://server/Hello/uploadFileRequest" message="tns:uploadFile"/>
<output wsam:Action="http://server/Hello/uploadFileResponse" message="tns:uploadFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Hello/uploadFile/Fault/IOException"/>
</operation>
<operation name="createFolder">
<input wsam:Action="http://server/Hello/createFolderRequest" message="tns:createFolder"/>
<output wsam:Action="http://server/Hello/createFolderResponse" message="tns:createFolderResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Hello/createFolder/Fault/IOException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/Hello/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/Hello/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="HelloPortBinding" type="tns:Hello">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRoot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uploadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="createFolder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Hello">
<port name="HelloPort" binding="tns:HelloPortBinding">
<soap:address location="http://localhost:8080/WSPractice/Hello"/>
</port>
</service>
</definitions>